.SearchBar {
	position: relative;
	border-radius: 5px;
	background-color: var(--primary-dark);
	margin-left: 0;
	width: 20%;
	transition: width 1s ease;
	
	&:hover {
		background-color: var(--primary-light);
		width: 25%;
	}

	&-iconWrapper {
		padding: .5em;
		height: 100%; 
		position: absolute;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.MuiInputBase-root {
		.MuiInputBase-input {
			color: var(--white) !important;
			padding: .5em .8em;
			width: 100%;
		}
		
		fieldset {
			border-style: none !important;
		}
	}
}