.Spinner {
	--path-color: var(--blue);
	--bar-color: var(--primary-light);
	
	animation: is-spinning 1s infinite;
	border-radius: 50%;
	height: 1em;
	width: 1em;
	border: 6px solid var(--path-color);
	border-top-color: var(--bar-color);

	&-wrapper {
		display: none !important;
	}
	
	@keyframes is-spinning {
		to {
			transform: rotate(1turn);
		}
	}
}

.isLoading {
	span {
		display: none !important;
	}

	.Spinner-wrapper {
		display: flex !important;
	}
}
