@import "../utils/_variables.scss";
@import "../utils/_functions.scss";

@each $theme-name, $theme in $themes {
    body[theme="#{$theme-name}"] {
        color: map-deep-get($theme, "text", "dark");
        background-color: map-deep-get($theme, "secondary", "normal");
        
        .MuiInputBase-input {
            --autofill-color: #{map-deep-get($theme, "secondary", "normal")};
        }
    }
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100vh;

    font-size: 16px;
    line-height: 1.7em;

    font-family: "Lato", "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Arial, Helvetica,
        sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.MuiGrid-root {
    min-height: 100%;
    max-height: 100%;
}

.MuiTypography-root {
    font-family: inherit !important;
    word-break: break-word !important;
    white-space: pre-line !important;
    
    &-hasCoolUnderline {
        --underline-width: 40%;
        position: relative;
        padding-bottom: .3em !important;

        &::before {
            content: "";
            position: absolute;
            width: var(--underline-width);
            height: 1px;
            bottom: 0;
            left: 0;
            border-bottom: .2em solid $orange;
        }
    }
}

.MuiButtonBase-root {
    display: flex !important;
}

.MuiInputBase-input {
    &::-ms-reveal,
    &::-ms-clear {
        display: none !important;
    }

    &:-internal-autofill-selected {
        -webkit-box-shadow: 0 0 0 1000px var(--autofill-color) inset !important;
        box-shadow: 0 0 0 1000px var(--autofill-color) inset !important;

        &:hover,
        &:focus,
        &:active {
            -webkit-box-shadow: 0 0 0 1000px var(--autofill-color) inset !important;
            box-shadow: 0 0 0 1000px var(--autofill-color) inset !important;
        }
    }
}