$blue: #4263ec;
$white: #f6f7fe;
$light: #bbc1e1;
$dark: #2b3044;
$gray: #8a91B4;

$themes: (
    light: (
        primary: (
            light: lighten($blue, 7.5%),
            normal: $blue,
            dark: darken($blue, 7.5%),
        ),
        secondary: (
            light: lighten($white, 7.5%),
            normal: $white,
            dark: darken($white, 7.5%)
        ),
        shadow: (
            light: lighten($gray, 7.5%),
            normal: $gray,
            dark: darken($gray, 7.5%)
        ),
        text: (
            light: $white,
            normal: $light,
            dark: $dark 
        ),
        extra: (
            pink: #fff0e5,
            orange: #ff7f52,
            green: #41b5a7
        )
    ),
    dark: (
        primary: (
            light: lighten($blue, 7.5%),
            normal: $blue,
            dark: darken($blue, 7.5%),
        ),
        secondary: (
            light: lighten($white, 7.5%),
            normal: $white,
            dark: darken($white, 7.5%)
        ),
        shadow: (
            light: lighten($gray, 7.5%),
            normal: $gray,
            dark: darken($gray, 7.5%)
        ),
        text: (
            light: $white,
            normal: $light,
            dark: $dark 
        ),
        extra: (
            pink: #fff0e5,
            orange: #ff7f52,
            green: #41b5a7
        )
    )
);