$light-theme: (
    --background: #fff,
    --primary-light: rgba(0, 0, 0, 0.04),
    --primary-dark: rgba(0, 0, 0, 0.075),
    --dark: #2B3044,
    --gray-dark: #404660,
    --gray: #8a91B4,
    --gray-light: #a6accd,
    --light: #BBc1e1,
    --pale: #fff,
    --pale-light: #f6f7fe,
    --blue: #4263ec,
    --white: #fff,
    --pink: #fff0e5,
    --pink-light: #fff6ef,
    --orange: #ff7f52,
    --green: #41b5a7
);
 
$dark-theme: ();