@import "../utils/_variables.scss";
@import "../utils/_functions.scss";

@each $theme-name, $theme in $themes {
    body[theme="#{$theme-name}"] .HomePage {
        &-navbar, &-header {
            background-color: map-deep-get($theme, "primary", "normal");
        }
		
        &-navbar {
            &-burgerMenu {
                .MuiDrawer-paper, &-header, &-list {
                    background-color: map-deep-get($theme, "primary", "normal");
                }
                
                .MuiDrawer-paper {
                    color: map-deep-get($theme, "text", "light");
                }
            }
            
            &-profileImage {
                margin: 1px solid map-deep-get($theme, "shadow", "normal");
            }
            
            &-appName {
                color: map-deep-get($theme, "text", "light");
            }
            
            .MuiTab-root {
                color: map-deep-get($theme, "text", "light");
                
                &:hover {
                    background-color: map-deep-get($theme, "primary", "dark");
                }
            }
            
            .MuiIconButton-root {
                color: map-deep-get($theme, "text", "light");
            }
        }
         
        &-header {
            &-greeting, &-displayName {
                color: map-deep-get($theme, "text", "light");
            }
            
            &-addActivButton {
                color: map-deep-get($theme, "text", "light") !important;
                background-color: map-deep-get($theme, "primary", "dark") !important;
                
                &:hover { 
                    background-color: map-deep-get($theme, "primary", "light") !important;
                }
            }
        }

        &-taskList {
            .MuiListItem-root {
                border-right: 0.3em solid map-deep-get($theme, "extra", "orange");
                
                .MuiListItemIcon-root {
                    .MuiAvatar-root {
                        background-color: map-deep-get($theme, "extra", "pink");
                    }
                    
                    svg {
                        color: map-deep-get($theme, "extra", "orange");
                    }
                }
            }
            
            .MuiAvatar-root {
                color: map-deep-get($theme, "text", "light") !important;
            }
            
            &-taskStatus {
                --dot-color: map-deep-get($theme, "primary", "normal");
            }
        } 
        
        &-filters {
            &-button {
                background-color: map-deep-get($theme, "shadow", "light") !important;
                color: map-deep-get($theme, "text", "dark") !important;
                
                &:hover {
                    background-color: map-deep-get($theme, "shadow", "normal") !important;
                }
            }
            
            &-puller {
                background-color: map-deep-get($theme, "extra", "orange");
            }   
        }
	}
}

.HomePage {
    &-navbar {
        max-height: 3.5em !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        
        &-burgerMenu-header {
            padding: 2em 0;
        }
        
        &-logo {
            width: 1.8em;
            height: 1.5em;
            margin-right: 1em;
        }
        
        &-profileImage {
            transition: opacity .5s ease-in-out;
            transform: scale(.9);
            
            &:hover {
                opacity: .5;
            } 
        }
        
        &-appName {
            cursor: pointer;
            width: fit-content;
        }
        
        .MuiToolbar-root {
            min-height: 0 !important;
        }
        
        .MuiTabs-root {
            margin: 0 0 0 1em;
        }
        
        .MuiTab-root {
            text-transform: none !important;
            transition: background-color .5s ease-out;
            padding: 12px 16px !important;
            min-height: 0 !important;
        }
    }
     
    &-header {
        padding: 5em 2em !important;
        
        &-greeting {
            opacity: .65 !important;
            font-size: 2em !important;
            font-weight: 400 !important;
        }
        
        &-displayName {
            font-size: 2.25em !important;
            font-weight: 500 !important;
        }
        
        &-addActivButton {
            transition: background-color .5s ease-in-out !important;
            padding: .6em !important;
        }
    }
    
    &-main {
        padding: 1.3em 1.3em 5em 1.3em !important;
        transform: translateY(-50px);
        border-radius: 1em !important;
        min-width: 80vw;
    }
    
    &-taskList {
        .MuiListItem-root {
            border-radius: .3em;
            padding: 1em;
            
            .MuiListItemIcon-root svg {
                transform: rotateZ(-45deg);
            }
            
            .MuiListItemText {
                &-primary, &-secondary .MuiTypography-root {
                    font-size: 1.2em !important;
                }
            }
        }
        
        .MuiChip-root {
            margin-right: .5em;
            margin-bottom: .5em;
        }
        
        &-taskStatus {
            text-transform: uppercase;
            
            &::before {
                content: "....";
                border-radius: 50%;
                background-color: var(--dot-color);
                color: var(--dot-color);
                margin-right: 1em;
            }
        }
    } 
    
    &-filters {
        &-button {
            transition: background-color 1s ease-in-out;
        }
        
        &-puller {
            width: 30px;
            height: 6px;
            border-radius: 12px;
            position: absolute;
            top: 8px;
            left: calc(50% - 15px);
        }   
    }
}