@import "../utils/_mixins.scss";
@import "../utils/_variables.scss";
@import "../utils/_functions.scss";

@each $theme-name, $theme in $themes {
    body[theme="#{$theme-name}"][page="/login"] {
        background-color: map-deep-get($theme, "primary", "normal") !important;
        
        .LoginPage {
            &-appName, &-catchline {
                color: map-deep-get($theme, "text", "light") !important;
            }
            
            .MuiTextField-root {
                .MuiInputLabel-root {
                    color: map-deep-get($theme, "secondary", "light");
                }
                
                .MuiInputBase-input {
                    --autofill-color: #{map-deep-get($theme, "primary", "normal")};
                }
                
                .MuiInputBase-root {
                    input {
                        color: map-deep-get($theme, "secondary", "normal") !important;
                        caret-color: map-deep-get($theme, "secondary", "normal");
                    }
                    
                    &::before {
                        border-bottom-color: map-deep-get($theme, "secondary", "light");
                    }
                    
                    &::after {
                        border-bottom-color: $orange;
                    }
                    
                    .MuiInputAdornment-root svg {
                        color: map-deep-get($theme, "secondary", "normal");
                    }
                }
            }
            
            &-loginButton {
                color: map-deep-get($theme, "text", "light") !important;
                background-color: $orange !important;
                
                &:disabled {
                    pointer-events: auto !important;
                    color: map-deep-get($theme, "primary", "normal") !important;
                    background-color: map-deep-get($theme, "secondary", "normal") !important;
                }
                
                &:hover:enabled:not(.isLoading) {
                    background-color: lighten($orange, 3%) !important;
                }
            }
        }
    }
}

.LoginPage {
    &-logo {
        @include user-drag(none);
        cursor: pointer;
        width: 180px;
        height: auto;
        margin-bottom: 1em; 
    }
    
    &-appName, &-catchline {
        text-align: center;
    }
    
    &-appName {
        font-size: 1.5em !important;
        font-weight: bold !important;
    }
    
    &-catchline {
        font-size: 1.1em !important;
        opacity: .5 !important;
    }
    
    .MuiTextField-root .MuiInputBase-root input {
        font-size: .875em;
        font-weight: 500;
        font-family: inherit;
        letter-spacing: .025em;
        line-height: 1.2em;
    }
    
    &-loginButton {
        padding: 0.7em 0 !important;
        margin: 1.7em 0 0 0 !important;
        border-radius: .8em !important;
        font-weight: 500 !important;
    
        font-family: inherit !important;
        text-transform: capitalize !important;
        
        transition: color .3s, background-color .3s !important;
        cursor: pointer !important;
        
        -webkit-appearance: none !important;
        -webkit-tap-highlight-color: transparent !important;
        
        &:disabled {
            cursor: not-allowed !important;
        }
    }
}