@import "../utils/_mixins.scss";
@import "../utils/_variables.scss";
@import "../utils/_functions.scss";

@each $theme-name, $theme in $themes {
	body[theme="#{$theme-name}"] .LoginPage {
        &-appName, &-catchline {
            color: map-deep-get($theme, "text", "dark") !important;
        }
        
        .MuiTextField-root {
            .MuiInputLabel-root {
                color: map-deep-get($theme, "shadow", "light");
            }
            
            .MuiInputBase-root {
                input {
                    color: map-deep-get($theme, "shadow", "dark");
                    caret-color: map-deep-get($theme, "primary", "normal");
                }
                
                &::before {
                    border-bottom-color: map-deep-get($theme, "shadow", "normal");
                }
                
                &::after {
                    border-bottom-color: map-deep-get($theme, "primary", "normal");
                }
            }
        }
        
        &-loginButton {
            color: map-deep-get($theme, "text", "light") !important;
            background-color: map-deep-get($theme, "primary", "normal") !important;
            
            &:disabled {
                color: map-deep-get($theme, "shadow", "light") !important;
            }
            
            &:hover:enabled:not(.isLoading) {
                background-color: map-deep-get($theme, "primary", "dark") !important;
            }
        }
	}	
}

.LoginPage {
    &-logo {
		@include user-drag(none);
		cursor: pointer;
        width: 180px;
        height: auto;
        margin-bottom: 1em; 
    }
    
    &-appName, &-catchline {
        text-align: center;
    }
    
    &-appName {
        font-size: 1.25em !important;
        font-weight: bold !important;
    }
    
    &-catchline {
        font-size: 1em !important;
        opacity: .5 !important;
    }
    
    .MuiTextField-root .MuiInputBase-root input {
        font-size: .875em;
        font-weight: 500;
        font-family: inherit;
        letter-spacing: .025em;
        line-height: 1.2em;
    }
    
    &-loginButton {
        padding: 0.7em 0 !important;
        margin: 1.7em 0 0 0 !important;
        border-radius: .8em !important;
        font-weight: 500 !important;
    
        font-family: inherit !important;
        text-transform: capitalize !important;
        
        transition: color .3s, background-color .3s !important;
        cursor: pointer !important;
        
        -webkit-appearance: none !important;
        -webkit-tap-highlight-color: transparent !important;
        
        &:disabled {
            cursor: not-allowed !important;
        }
    }
}