@import "../utils/_variables.scss";
@import "../utils/_functions.scss";

@each $theme-name, $theme in $themes {
    body[theme="#{$theme-name}"][page^="/task"] {
        background-color: map-deep-get($theme, "secondary", "light") !important;

        .TaskPage {
            &-topbar,
            &-header {
                background-color: map-deep-get(
                    $theme,
                    "primary",
                    "normal"
                ) !important;
            }

            &-topbar {
                .MuiIconButton-root {
                    color: map-deep-get($theme, "text", "light");
                }

                &-deleteButton,
                &-editButton {
                    border: none;
                    background-color: transparent !important;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.075) !important;
                    }
                }
            }

            &-header {
                &-title,
                &-brief,
                .MuiBox-root {
                    color: map-deep-get($theme, "text", "light");
                }

                .MuiChip-root.MuiChip {
                    &-filled {
                        color: map-deep-get($theme, "primary", "normal");
                        background-color: map-deep-get(
                            $theme,
                            "secondary",
                            "light"
                        );
                    }

                    &-outlined {
                        color: map-deep-get($theme, "secondary", "light");
                        border-color: map-deep-get(
                            $theme,
                            "secondary",
                            "light"
                        );
                    }
                }

                .MuiSvgIcon-root {
                    color: $orange;
                }
            }
        }
    }
}

.TaskPage {
    &-topbar {
        max-height: 3.5em !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;

        .MuiToolbar-root {
            min-height: 0 !important;
        }

        &-deleteButton,
        &-editButton {
            transition: background-color 0.5s ease-in-out !important;
            border-radius: 0.7em !important;
            padding: 0.6em 1.1em !important;
            text-transform: none !important;

            &:not(:last-child) {
                margin-right: 0.8em !important;
            }
        }
    }

    &-header {
        padding: 3em 2em 5em 2em !important;

        &-title {
            font-size: 2.25em !important;
            font-weight: 500 !important;
        }

        &-brief {
            opacity: 0.65 !important;
            font-size: 2em !important;
            font-weight: 400 !important;
            margin-bottom: 0.6em !important;
        }

        .MuiChip-root {
            font-weight: 600;
            margin: 0 0.5em 1em 0;
        }

        .MuiSvgIcon-root {
            margin-right: 0.1em;
        }
    }

    &-body {
        padding: 1.3em !important;
        transform: translateY(-50px);
        border-radius: 1em !important;
    }
}